
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* Service */
    .service-content p {
        font-size: 16px;
        line-height: 24px;
        padding-right: 24px;
    }
    .single-about {
        margin-bottom: 30px;
    }
    /* Foundars Area */
    .founders-slider-active .slick-arrow {
        right: 80px;
    }
    .founders-slider-active .slick-prev {
        right: 175px;
    }
    /* Section Link */
    .s-linked-btn .default-btn {
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   /* Hero Area */
   .hero-area-content h1 {
        font-size: 58px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .hero-area-content h5 {
        font-weight: 600;
        font-size: 24px;
    }
    /* Service Area */
    .service-icon {
        width: 90px;
    }
    .service-content p {
        font-size: 15px;
        line-height: 22px;
    }
    .service-content a.service-link {
        font-size: 14px;
        padding: 10px 25px;
    }
    /* Blockquote */
    .blockquote-area blockquote {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    /* Section Link */
    .s-linked-btn .default-btn {
        width: 180px;
        height: 45px;
        line-height: 45px;
        font-size: 12px;
    }
    .section-linked-content .text {
        width: 200px;
    }
    .section-linked-content .s-linked-btn {
        width: calc(100% - 200px);
    }
    /* Content Title */
    .content-title-area .title h2 {
        font-size: 36px;
    }

    /* About Rocket Job Section */
    .about-rocket-title {
        margin-bottom: 30px;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* Default Button */
    .default-btn {
        width: 170px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
    /* Section Title */
    .section-title h2 {
        font-size: 34px;
        line-height: 28px;
    }
    .section-title p {
        font-size: 16px;
        line-height: 22px;
    }
   /* Hero Area */
   .hero-area-content {
	    padding: 50px 0;
    }
    .hero-area-content h1 {
        font-size: 36px;
    }
    .hero-area-content h5 {
        font-size: 17px;
    }
    .hero-area-content p {
        font-size: 14px;
        margin-top: 25px;
        line-height: 24px;
        padding: 0 0px;
    }
    /* Service */
    .single-service {
        margin-bottom: 40px;
    }
    /* About */
    .single-about {
        min-height: auto;
    }
    .single-about {
        margin-bottom: 30px;
    }
    .single-about h2 {
        font-size: 38px;
        letter-spacing: 0;
        margin-bottom: 5px;
    }
    /* BLockquote */
    .blockquote-area blockquote {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 25px;
        color: #080808;
    }

    /* Foundars */
    .single-founders {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .foundars-content {
        padding-top: 0;
        margin-top: 30px;
    }
    .single-founders.slide-1,.single-founders.slide-2 {
        background-image: none;
    }
    .foundars-content::before, .foundars-content::after {
        display: none;
    }
    .foundars-content h3 {
        font-weight: 600;
        color: #333;
        font-size: 24px;
    }
    .foundars-content h6 {
        color: #333;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .foundars-content p {
        color: #333;
        font-size: 14px;
        line-height: 24px;
    }
    /* Footer Wid */
    .single-footer-wid {
        margin-bottom: 30px;
    }

    /* Footer Copyright */
    .footer-copyright p {
        font-size: 13px;
    }
    .content-title-area .title {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 25px;
    }
    .content-title-area .text {
        width: 100%;
        padding-right: 0;
    }
    /* Section Link */
    .section-linked-content {
        margin-top: 0px;
        padding: 30px 20px;
        padding-bottom: 30px;
    }
    .section-linked-content .text {
        width: 100%;
    }
    .section-linked-content .s-linked-btn {
        width: 100%;
    }
    /* Default Button */
    .default-btn {
        width: 170px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    /* About Rocket Job Section */
    .about-rocket-title {
        margin-bottom: 30px;
    }
    .about-rocket-title h3 {
        line-height: 42px;
        font-size: 24px;
    }
    /* CTA Area */
    .cta-area-wrapper {
        padding-top: 45px;
        padding-bottom: 15px;
    }
    .content-title-area .title h2 {
        font-size: 28px;
        line-height: 32px;
    }
    .content-title-area .text p {
        font-size: 14px;
        line-height: 24px;
    }
    .content-title-area::after {
        width: 95px;
    }
    /* Typer JS */
    .typer-js-wrapper h3 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 22px;
    }
    /* About Rocket Section */
    .about-rocket-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sing-rAbout-contant {
        margin-bottom: 15px;
    }
    .footer-wid-wrapper {
        padding-bottom: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   /* Service */
   .service-content a.service-link {
	    padding: 10px 20px;
    }
    .service-content p {
        font-size: 15px;
        line-height: 24px;
    }
    /* Section Link */
    .section-linked-content {
        margin-top: 0px;
        padding: 30px 20px;
        padding-bottom: 50px;
    }
    .section-linked-content .text {
        width: 100%;
    }
    .section-linked-content .s-linked-btn {
        width: 100%;
    }
    .s-linked-btn .default-btn {
        width: 190px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
    /* Cta Area */
    .content-title-area .default-btn {
        width: 190px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
    /* About Rocket Job Section */
    .about-rocket-title {
        margin-bottom: 30px;
    }
    .about-rocket-title h3 {
        line-height: 42px;
        font-size: 24px;
    }
    .button-area .default-btn {
        width: 190px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
}




